<div class="container-fluid">
        <div class="row">
                <div class="col-4">
                        <aside>
                                <ul>
                                        <li><a routerLink="dashboard">dashboard</a></li>
                                        <li><a routerLink="/admin/products">product</a></li>
                                        <li><a routerLink="/">view</a></li>
                                </ul>
                        </aside>
                </div>
                <div class="col-8">
                       <main>
                        <router-outlet />
                       </main>
                </div>
        </div>
</div>
