<button routerLink="/admin/products/add">them</button>
<div class="table" >
    <thead>
        <tr>
            <th>name</th>
            <th>price</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
                <button (click)="onHandleDelete(product.id!)">xoa</button>
                <button routerLink="/admin/products/{{product.id}}/update">sua</button>
            </td>
        </tr>
    </tbody>
</div>